/* ? background */
.allcollections_ScrollContainer_u1xD3 {
  background: radial-gradient(100% 100% at 33% 45%, var(--color-master-background) 0%, #141110 100%);
}

/* ? header */
.allcollections_ScrollContainer_u1xD3 .allcollections_Header_2Th-v {
  color: var(--color-master-font-foreground);
}

/* ? new collection button */
.allcollections_Collection_3IWn-.allcollections_NewCollection_2_dwx {
  border: 2px solid var(--color-master-font-foreground);
}
.allcollections_Collection_3IWn- .allcollections_BigPlus_g0-tU {
  color: var(--color-master-font-foreground);
}
.allcollections_Collection_3IWn-.allcollections_NewCollection_2_dwx .allcollections_CollectionLabel_1J1LQ {
  color: var(--color-master-font-foreground);
}
.allcollections_Collection_3IWn-:focus.allcollections_NewCollection_2_dwx, .allcollections_Collection_3IWn-:hover.allcollections_NewCollection_2_dwx {
  border: 2px solid var(--color-master-foreground-bright);
}
.allcollections_Collection_3IWn-:focus.allcollections_NewCollection_2_dwx .allcollections_BigPlus_g0-tU,
.allcollections_Collection_3IWn-:hover.allcollections_NewCollection_2_dwx .allcollections_BigPlus_g0-tU {
  color: var(--color-master-font-foreground-bright);
}

/* ? new collection modal */
.savecollectiondialog_TwoOptionsContainer_33bWW .savecollectiondialog_Option_3vDq3 .savecollectiondialog_ActionLabel_25n_z {
  background: var(--color-master-highlight);
}
.savecollectiondialog_TwoOptionsContainer_33bWW .savecollectiondialog_Option_3vDq3.savecollectiondialog_Disabled_3Jmn3 .savecollectiondialog_ActionLabel_25n_z {
  color: var(--color-master-font-foreground);
}
.savecollectiondialog_Description_3uOEr {
  color: var(--color-master-font-foreground);
}

/* ? collection view */
.collectionview_OuterContainer_2sNr7 {
  background: radial-gradient(100% 100% at 33% 45%, var(--color-master-background) 0%, #101314 100%);
}
.collectionview_Container_2q70u {
  color: var(--color-master-font-foreground);
}