/* ? Buttons */
button.DialogButton,
.image_Btn_3YohC.Panel.Focusable {
  background: var(--srcery-white);
  color: var(--srcery-black);
}
button.DialogButton:hover,
.image_Btn_3YohC.Panel.Focusable:hover {
  background: var(--srcery-bright-white);
  color: var(--srcery-black);
}
button.DialogButton:enabled:active,
button.DialogButton:enabled:active:hover,
button.DialogButton:enabled:active.gpfocus {
  background: var(--srcery-bright-black);
  color: var(--srcery-black);
}

/* ? Dropdowns */
/* TODO */

/* ? Toggles */
/* TODO ? */

/* ? Checkboxes */
/* TODO ? */

/* ? Text fields */
/* TODO ? */
.DialogTextInputBase, ._DialogInputContainer {
  color: var(--srcery-white);
  background-color: var(--srcery-xgray1);
}
.DesktopUI .DialogTextInputBase:focus, .DialogTextInputBase:focus-within {
  background: var(--srcery-hard-black);
  color: var(--srcery-white);
}
.DialogInput_ClearAction .SVGIcon_X_Line line {
  stroke: var(--srcery-white);
}
.DialogInput_ClearAction:hover .SVGIcon_X_Line line {
  stroke: var(--srcery-bright-white);
}