/* ? Nav bar background */
.steamdesktop_LocalContentContainer_RGNMW .steamdesktop_URLBarReplacement_2Cmrn,
.steamdesktop_BrowserWrapper_1bGew .steamdesktop_URLBar_UkR3s,
.steamdesktop_TopBar_3Z7VQ {
  background: var(--srcery-black);
}

/* ? Nav bar pages */
.supernav_SuperNavMenu_7AlhC .supernav_MenuButton_19axK {
  color: var(--srcery-white);
}
.supernav_SuperNavMenu_7AlhC .supernav_MenuButton_19axK:active,
.supernav_SuperNavMenu_7AlhC:hover:not(.supernav_Disabled_2cO0H) .supernav_MenuButton_19axK {
  color: var(--srcery-bright-white);
}

/* ? Nav bar arrows */
.supernav_Arrow_25lBL.supernav_Disabled_2cO0H {
  color: var(--srcery-xgray5);
}
.supernav_Arrow_25lBL.supernav_Enabled_1LYTH {
  color: var(--srcery-white);
}
.supernav_Arrow_25lBL.supernav_Enabled_1LYTH:hover {
  color: var(--srcery-bright-white);
}

/* ? Nav bar icons */
.DesktopUI .title-area-icon:hover, .friendsui-container .title-area-icon:hover {
  background: var(--srcery-bright-black);
}
.DesktopUI .title-area-icon.closeButton:hover, .friendsui-container .title-area-icon.closeButton:hover {
  background: var(--srcery-bright-red);
}
.title-area-icon .SVGIcon_X_Line line,
.title-area-icon .SVGIcon_Restore polyline, 
.title-area-icon .SVGIcon_Restore rect,
.title-area-icon .SVGIcon_Maximize line, 
.title-area-icon .SVGIcon_Maximize rect, 
.title-area-icon .SVGIcon_Minimize line {
  stroke: var(--srcery-white) !important;
}
.DesktopUI .title-area-icon:hover .SVGIcon_X_Line line,
.DesktopUI .title-area-icon:hover .SVGIcon_Restore polyline, 
.DesktopUI .title-area-icon:hover .SVGIcon_Restore rect, 
.DesktopUI .title-area-icon:hover .SVGIcon_Maximize line,
.DesktopUI .title-area-icon:hover .SVGIcon_Maximize rect, 
.DesktopUI .title-area-icon:hover .SVGIcon_Minimize line {
  stroke: var(--srcery-bright-white) !important;
}

/* ? Big picture toggle */
.titlebarcontrols_Button_2Szzh.titlebarcontrols_GamepadUIToggle_3LKQ3 {
  color: var(--srcery-white);
}
.titlebarcontrols_GamepadUIToggle_3LKQ3:hover {
  background: var(--srcery-bright-black);
  color: var(--srcery-bright-white);
}

/* ? Nav bar function menus */
.menu_MenuWrapper_2Lu3d.rootmenu_RootMenuButton_2UyOB {
  color: var(--srcery-bright-black);
}
.rootmenu_RootMenuButton_2UyOB:hover:not(.rootmenu_Disabled_2hcbl) {
  color: var(--srcery-white);
}

/* ? Nav bar news button */
.titlebarcontrols_AnnouncementsButton_5wILZ {
  background-color: var(--srcery-xgray9);
  color: var(--srcery-white);
}
.titlebarcontrols_Button_2Szzh:hover {
  color: var(--srcery-bright-white);
}
.titlebarcontrols_AnnouncementsButton_5wILZ:hover {
  background-color: var(--srcery-bright-black);
}

/* ? Nav bar account info */
.titlebarcontrols_AccountMenu_3yD46 {
  background-color: var(--srcery-xgray9);
}
.titlebarcontrols_AccountMenu_3yD46 .titlebarcontrols_WalletBalance_2jphj {
  color: var(--srcery-bright-white);
}
.titlebarcontrols_Chevron_3x51w {
  color: var(--srcery-bright-white);
}

.titlebarcontrols_AccountMenu_3yD46:hover:not(.ingame) {
  background-color: var(--srcery-bright-black);
}
.titlebarcontrols_AccountMenu_3yD46:hover .titlebarcontrols_AccountMenu_3yD46 .titlebarcontrols_WalletBalance_2jphj {
  color: var(--srcery-bright-white);
}
.titlebarcontrols_AccountMenu_3yD46:hover .titlebarcontrols_Chevron_3x51w {
  color: var(--srcery-bright-white);
}
.titlebarcontrols_AccountMenu_3yD46.offline {
  color: var(--srcery-xgray1);
}
.titlebarcontrols_AccountMenu_3yD46.online {
  color: var(--srcery-bright-blue);
}