/* ? Accordion headers */
.gamelistsectionheader_Container_2sYIg {
  background: var(--srcery-black);
}
.gamelistsectionheader_SectionHeaderContent_3cV3O .gamelistsectionheader_SectionName_2mZ8L {
  color: var(--srcery-white);
}

/* ? Accordion bodies */
.gamelistsectionheader_Container_2sYIg:hover {
  background: var(--srcery-bright-black);
}
.gamelistsectionheader_SectionHeaderContent_3cV3O:hover .gamelistsectionheader_SectionName_2mZ8L {
  color: var(--srcery-bright-white);
}

/* ? Selected accordion */
.gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z,
.gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z {
  background: var(--srcery-bright-black);
}

/* ? Accordion Icons */
.collapseicon_CollapseIconParent_ehAsU .collapseicon_Container_3SFRZ {
  stroke: var(--srcery-white);
}

/* ? Selected game */
/* TODO */

/* ? Game uninstalled color */
.gamelistentry_Container_2-O4Z.gamelistentry_Uninstalled_5YTBr {
  color: var(--srcery-xgray12);
}

/* ? Game installed color */
.gamelistentry_Container_2-O4Z.gamelistentry_Installed_2ws8D {
  color: var(--srcery-bright-white);
}