/* ? background */
.libraryhome_UpdatesContainer_17uEB {
  background: radial-gradient(100% 100% at 33% 45%, var(--srcery-hard-black) 30%, #101314 100%);
}
.libraryhome_Container_2gSXC {
  background: var(--srcery-hard-black);
}
.libraryhome_LibraryHome_3Sb2o {
  background-image: linear-gradient(to bottom, var(--srcery-black) 0%, var(--srcery-hard-black) 80%);
}

/* ? updates and news */
.pageablecontainer_HeaderPageControls_2pAbU {
  color: var(--srcery-bright-white);
}
.libraryhomenewupdates_SettingsButton_1eFe5 svg {
  fill: var(--srcery-bright-white);
  color: var(--srcery-bright-white);
}
.libraryhomenewupdates_SettingsButton_1eFe5:hover .SVGIcon_Settings path {
  fill: var(--srcery-bright-white);
}
.libraryhomenewupdates_EventTime_2rlKq {
  color: var(--srcery-white);
}
.libraryhomenewupdates_Event_Title_1Gu1U div.libraryhomenewupdates_PartnerEventRowCapsule_TextTitle_DVBcp {
  color: var(--srcery-white);
}
.libraryhomenewupdates_EventOptions_2-p7s>div {
  background-color: var(--srcery-white);
}
.libraryhomenewupdates_EventOptions_2-p7s:hover > div {
  background-color: var(--srcery-blue);
}
.pageablecontainer_PageLeft_1TMDJ.pageablecontainer_Disabled_3llJG > svg > polyline,
.pageablecontainer_PageRight_2qGnL.pageablecontainer_Disabled_3llJG > svg > polyline {
  stroke: var(--srcery-xgray9);
}
.pageablecontainer_PageLeft_1TMDJ > svg > polyline,
.pageablecontainer_PageRight_2qGnL > svg > polyline {
  stroke: var(--srcery-white);
}

/* ? game news modal */


/* ? game selves */
/** add shelf icon and text */
.libraryhomeshowcases_AddShowcaseRow_3SkuN svg line,
.libraryhomeshowcases_AddShowcaseRow_3SkuN svg circle {
  stroke: var(--srcery-white);
}
.libraryhomeshowcases_AddShowcaseRow_3SkuN {
  color: var(--srcery-white);
}
.libraryhomeshowcases_AddShowcaseRow_3SkuN.libraryhomeshowcases_ButtonHovered_3dQDo svg line,
.libraryhomeshowcases_AddShowcaseRow_3SkuN.libraryhomeshowcases_ButtonHovered_3dQDo svg circle {
  stroke: var(--srcery-bright-white);
}
.libraryhomeshowcases_AddShowcaseRow_3SkuN.libraryhomeshowcases_ButtonHovered_3dQDo .libraryhomeshowcases_AddShowcase_2aw5a {
  color: var(--srcery-bright-white);
}
/* todo: seperators */
.libraryhomeshowcases_CollectionDropDown_1YdRd ._DialogInputContainer {
  color: var(--srcery-white);
}
.libraryhomeshowcases_ShowcaseHeader_23Snl .libraryhomeshowcases_Collapser_3sz4L {
  background-color: var(--srcery-xgray4);
}
.libraryhomeshowcases_ShowcaseHeader_23Snl .libraryhomeshowcases_Collapser_3sz4L:hover {
  background-color: var(--srcery-white);
}
.libraryhomeshowcases_ShowcaseHeader_23Snl .libraryhomeshowcases_Collapser_3sz4L polyline {
  stroke: var(--srcery-white);
}
.libraryhomeshowcases_ShowcaseHeader_23Snl .libraryhomeshowcases_Collapser_3sz4L:hover polyline {
  stroke: var(--srcery-bright-white);
}
.libraryhomeshowcases_ShowcaseHeader_23Snl .libraryhomeshowcases_DragHandle_1OGfH {
  stroke: var(--srcery-bright-white);
  fill: var(--srcery-bright-white);
}
/** add shelf dropdown content */
.DesktopUI .libraryhomeshowcases_CollectionDropDownContainer_2Sj4-.libraryhomeshowcases_CollectionDropDownContainer_2Sj4- ._DialogInputContainer {
  background: var(--srcery-xgray9) !important;
  color: var(--srcery-bright-white);
}
.DesktopUI .libraryhomeshowcases_CollectionDropDownContainer_2Sj4-.libraryhomeshowcases_CollectionDropDownContainer_2Sj4- .libraryhomeshowcases_DropDownItems_lYnGt:hover {
  background: var(--srcery-bright-white);
  color: var(--srcery-black);
}
/* todo: styles for when reodering */


/* ? scroll bar */
.library_Container_3xRRJ *::-webkit-scrollbar-corner,
.library_LibraryContextMenu_1UOkn::-webkit-scrollbar-corner {
  color: var(--srcery-bright-black);
}