/* ? background */
.library_AppDetailsTransitionGroup_2Dd4T {
  background: var(--srcery-hard-black);
}
.appdetails_Glassy_3Fmxx.appdetails_ScrollContainer_2l416 {
  background-image: radial-gradient(100% 100% at 45% 35%, var(--srcery-black) 0%, var(--srcery-hard-black) 100%);
}
body, body.shared_common_v6_3r3Le {
  color: var(--srcery-white);
}

/* ? game info */
.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_BackdropGlass_Jbe-- {
  background: linear-gradient(to bottom,
  rgba(var(--srcery-black-rgb), 0.1) 0%,
  rgba(var(--srcery-black-rgb), 0.7) 82px,
  rgba(var(--srcery-black-rgb), 0.3) 80%,
  rgba(var(--srcery-black-rgb), 0) 100%);
}
.appdetailsplaysection_Glassy_3DeO9.appdetailsplaysection_PlayBar_3fLo1 {
  background: linear-gradient(to top, 
    rgba(var(--srcery-black-rgb4), 0) 0%,
    rgba(var(--srcery-black-rgb3), 0.2) calc(100% - 2px),
    rgba(var(--srcery-black-rgb2), 0.1) calc(100% - 1px),
    rgba(var(--srcery-black-rgb), 0.3) 100%);
}
/** info */
.appdetailsplaysection_PlayBarLabel_34lrt {
  color: rgba(var(--srcery-bright-white-rgb), 0.7);
}
.appdetailsplaysection_PlayBarDetailLabel_2TYVG,
.appdetailsplaysection_LastPlayed_3pS8k .appdetailsplaysection_LastPlayedInfo_1nfJN {
  color: rgba(var(--srcery-white-rgb), 0.7);
}
.appdetailsplaysection_Playtime_1aKeg .appdetailsplaysection_PlaytimeIcon_1GZdo svg polyline,
.appdetailsplaysection_Playtime_1aKeg .appdetailsplaysection_PlaytimeIcon_1GZdo svg path,
.appdetailsplaysection_Playtime_1aKeg .appdetailsplaysection_PlaytimeIconForced_1UXbB svg polyline,
.appdetailsplaysection_Playtime_1aKeg .appdetailsplaysection_PlaytimeIconForced_1UXbB svg path {
  stroke: rgba(var(--srcery-bright-white-rgb), 0.7);
}
.appdetailsplaysection_Playtime_1aKeg .appdetailsplaysection_PlaytimeIcon_1GZdo svg circle,
.appdetailsplaysection_Playtime_1aKeg .appdetailsplaysection_PlaytimeIconForced_1UXbB svg circle {
  stroke: rgba(var(--srcery-bright-white-rgb), 0.7);
  fill: rgba(var(--srcery-bright-white-rgb), 0.7);
}
.appdetailsplaysection_GameStat_1kiZK .appdetailsplaysection_AchievementSVG_k-QNT {
  color: rgba(var(--srcery-bright-white-rgb), 0.7);
}
/** style buttons */
.appdetailsplaysection_MenuButton_3qDWQ {
  background-color: rgba(var(--srcery-white-rgb), 0.2);
}
.appdetailsplaysection_MenuButton_3qDWQ svg {
  color: rgba(var(--srcery-bright-white-rgb), 0.5);
}
.appdetailsplaysection_MenuButton_3qDWQ:hover {
  background-color: rgba(var(--srcery-white-rgb), 0.5);
}
.appdetailsplaysection_MenuButton_3qDWQ:hover .SVGIcon_Settings path {
  fill: rgba(var(--srcery-bright-white-rgb), 0.7);
}
/** info icon */
.appdetailsplaysection_MenuButton_3qDWQ svg circle,
.appdetailsplaysection_MenuButton_3qDWQ svg polyline {
  stroke: rgba(var(--srcery-bright-white-rgb), 0.5);
}
.appdetailsplaysection_MenuButton_3qDWQ:hover .appdetailsplaysection_DotDotDot_zvLq1 svg circle,
.appdetailsplaysection_MenuButton_3qDWQ:hover .appdetailsplaysection_DotDotDot_zvLq1 svg polyline {
  stroke: rgba(var(--srcery-bright-white-rgb), 0.7);
}
.appdetailsplaysection_MenuButton_3qDWQ:hover .appdetailsplaysection_DotDotDot_zvLq1 .SVGIcon_Information .I {
  fill: rgba(var(--srcery-bright-white-rgb), 0.7);
}
.appdetailsplaysection_MenuButton_3qDWQ.appdetailsplaysection_MenuActive_fyJia {
  background-color: rgba(var(--srcery-white-rgb), 0.5);
}
.appdetailsplaysection_MenuButton_3qDWQ.appdetailsplaysection_MenuActive_fyJia .appdetailsplaysection_DotDotDot_zvLq1 .SVGIcon_Information .I {
  fill: rgba(var(--srcery-bright-white-rgb), 0.7);
}

/* ? game details */
.appdetailsgameinfopanel_Container_2jPMy,
.appdetailsgameinfopanel_Container_2jPMy .appdetailsgameinfopanel_SectionContainer_1uS70 .appdetailsgameinfopanel_GameDescription_3GkV1,
.appdetailsgameinfopanel_AssociationList_2ZcNQ .appdetailsgameinfopanel_Label_1vYL2 {
  color: var(--srcery-white);
}
.appdetailsgameinfopanel_Icon_2jSAw.Focusable .SVGIcon_Button {
  fill: var(--srcery-white);
}
.appdetailsgameinfopanel_SocialMedia_2SfB1 .appdetailsgameinfopanel_Account_2thiM:hover .appdetailsgameinfopanel_Link_3ITmi {
  fill: var(--srcery-bright-white);
}
img.appdetailsfeatureicon_Icon_2RwHE {
  filter: invert(11%) sepia(81%) saturate(272%) hue-rotate(310deg) brightness(102%) contrast(98%);
}

/* ? game links */
.appdetailsprimarylinkssection_LinksSection_3-V8v>div {
  background: radial-gradient(100% 80% at 64% 95%,
  rgba(var(--srcery-bright-white-rgb2), 0.1) 40%, 
  rgba(var(--srcery-bright-white-rgb), 0.1) 100%) !important;
}
.appdetailsprimarylinkssection_Anchor_DY4_w .appdetailsprimarylinkssection_Link_1b6LY .appdetailsprimarylinkssection_Text_2sNDj {
  color: var(--srcery-white);
}
.appdetailsprimarylinkssection_Anchor_DY4_w .appdetailsprimarylinkssection_Link_1b6LY:hover {
  background-color: rgba(var(--srcery-white-rgb),.356);
}
.appdetailsprimarylinkssection_Anchor_DY4_w .appdetailsprimarylinkssection_Link_1b6LY:hover .appdetailsprimarylinkssection_Text_2sNDj {
  color: var(--srcery-bright-white);
}
.appdetailsfeatureicon_Container_1SIa8 .appdetailsfeatureicon_Label_1VoVz {
  color: var(--srcery-white);
}
.appdetailsfeatureicon_Container_1SIa8 .appdetailsfeatureicon_Icon_2RwHE {
  color: var(--srcery-bright-white);
}

/* ? spotlight */
/** recommend review  */
.appdetailsspotlight_ReviewContainer_3LE-6,
.writereview_RatingContainer_2SAb6 {
  background-color: var(--srcery-xgray9);
}
.writereview_RatingContainer_2SAb6 .writereview_RecommendGame_My1be {
  color: var(--srcery-bright-white);
}
/** post game summary */
.spotlightgameplaysummary_GamePlaySummaryHeader_2_sR8 {
  color: var(--srcery-white);
}
.pageablecontainer_PageableCloseButton_2K2No.pageablecontainer_Small_1Vqv0 svg line {
  stroke: var(--srcery-white);
}
.spotlightgameplaysummary_EventHeaderBlock_1jiiO {
  color: var(--srcery-white);
}
.appdetailsachievementssection_Featured_1j_gj .appdetailsachievementssection_TextSection_1s_9c .appdetailsachievementssection_Name_39Y01 {
  color: var(--srcery-bright-white);
}
.appdetailsachievementssection_Featured_1j_gj .appdetailsachievementssection_TextSection_1s_9c .appdetailsachievementssection_Desc_2gLHb {
  color: var(--srcery-bright-white);
  opacity: 0.7;
}
.appdetailsachievementssection_Featured_1j_gj .appdetailsachievementssection_TextSection_1s_9c .appdetailsachievementssection_Stats_VKo9p {
  color: var(--srcery-white);
  opacity: 0.7;
}

/* ? Achievement popup */
.appdetailshover_AppDetailsHover_38FqI .appdetailshover_Background_rYBZB {
  background: radial-gradient(ellipse farthest-corner at 20% 30%,
  #5b554c 0%,
  #3f3a34 50%,
  #322d28 100%);
}
.appdetailsachievementssection_Hover_37Lk8 .appdetailsachievementssection_TopSection_1LRR7 .appdetailsachievementssection_TextSection_1s_9c .appdetailsachievementssection_Name_39Y01 {
  color: var(--srcery-bright-white);
}
.appdetailsachievementssection_Hover_37Lk8 .appdetailsachievementssection_TopSection_1LRR7 .appdetailsachievementssection_TextSection_1s_9c {
  color: var(--srcery-bright-white);
  opacity: 0.7;
}
.appdetailsachievementssection_Hover_37Lk8 .appdetailsachievementssection_Unlocked_2KA0p {
  color: var(--srcery-white);
  opacity: 0.7;
}

/* ? activity */

/* ? friends container */

/* ? achievements container */

/* ? badge container */

/* ? notes container */

/* ? screenshots container */

/* ? my review container */


/* ? Achievements window */

/* ? notes window ? */

/* ? screenshots window */