/* ? Accordion headers */
.gamelistsectionheader_Container_2sYIg {
  background: var(--srcery-black);
}
.gamelistsectionheader_SectionHeaderContent_3cV3O .gamelistsectionheader_SectionName_2mZ8L {
  color: var(--srcery-white);
}

/* ? Accordion bodies */
.gamelistsectionheader_Container_2sYIg:hover {
  background: var(--srcery-bright-black);
}
.gamelistsectionheader_SectionHeaderContent_3cV3O:hover .gamelistsectionheader_SectionName_2mZ8L {
  color: var(--srcery-bright-white);
}

/* ? Selected accordion */
.gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z,
.gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z {
  background: var(--srcery-bright-black);
}

/* ? Selected game */
/* TODO */

/* ? Game uninstalled color */
/* TODO */

/* ? Game installed color */
/* TODO */