.appportrait_InRecentGames_biTV- div[class*="appportrait_LibraryItemIcons"]:only-child:before,
.appportrait_InCollection_3ANru div[class*="appportrait_LibraryItemIcons"]:only-child:before {
  content: url("data:image/svg+xml; charset=utf8, %0A%20%20%20%20%3Csvg%20viewBox%3D%220%200%2036%2036%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22width%3A%2032px%3B%20height%3A%2032px%3B%22%3E%0A%20%20%20%20%20%20%3CforeignObject%20x%3D%225%22%20y%3D%225%22%20width%3D%2226%22%20height%3D%2226%22%3E%0A%20%20%20%20%20%20%20%20%3Cdiv%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxhtml%22%3E%0A%20%20%20%20%20%20%20%20%20%20%3Csvg%20style%3D%22width%3A%2026px%3B%20height%3A%2026px%3B%20color%3A%20%230e141b%3B%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2036%2036%22%20fill%3D%22none%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M6%2033V3L32%2018L6%2033Z%22%20fill%3D%22currentColor%22%20%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3C%2Fsvg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fdiv%3E%0A%20%20%20%20%20%20%3C%2FforeignObject%3E%0A%20%20%20%20%3C%2Fsvg%3E%0A%20%20%20%20");
  position: absolute;
  z-index: 100;

  box-sizing: border-box;
  height: 24px;
  width: 24px;
  padding: 1.5px 1px 0 2px;
  font-size: 0; /* ? No idea why this affects sizing like it does but whatever */
  
  top: unset;
  bottom: 2%;
  left: 3%;

  opacity: 0;

  background-color: #59BF40;

  border-radius: 16px;
  border: 3px solid #0e141b;

  transition: all .1s cubic-bezier(0.16, 0.86, 0.43, 0.99);
}

.appportrait_FeaturedCapsule_xp7A-:only-child::before {
  left: 1%;
}

.appportrait_InRecentGames_biTV- .appportrait_UninstalledIcon_8YrRm,
.appportrait_InCollection_3ANru .appportrait_UninstalledIcon_8YrRm {
  content: url("data:image/svg+xml; charset=utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2036%2036%22%20style%3D%22width%3A%2032px%3B%20height%3A%2032px%3B%20color%3A%20%230e141b%3B%22%3E%0A%20%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M29%2023V27H7V23H2V32H34V23H29Z%22%0A%20%20%20%20%20%20%20%20fill%3D%22currentColor%22%3E%3C%2Fpath%3E%0A%20%20%20%20%3Csvg%20x%3D%220%22%20y%3D%220%22%20width%3D%2232%22%20height%3D%2225%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22DownloadArrow%22%0A%20%20%20%20%20%20%20%20%20%20%20%20d%3D%22M20%2014.1716L24.5858%209.58578L27.4142%2012.4142L18%2021.8284L8.58582%2012.4142L11.4142%209.58578L16%2014.1715V2H20V14.1716Z%22%0A%20%20%20%20%20%20%20%20%20%20%20%20fill%3D%22currentColor%22%3E%3C%2Fpath%3E%0A%20%20%20%20%3C%2Fsvg%3E%0A%3C%2Fsvg%3E");
  position: absolute;
  padding: 2px !important;
  
  box-sizing: border-box;
  height: 24px;
  width: 24px;

  bottom: 2%;
  left: 3%;

  opacity: 0;

  background-color: #dcdedf !important;
  
  border-radius: 16px !important;
  border: 3px solid #0e141b;

  transition: all .1s cubic-bezier(0.16, 0.86, 0.43, 0.99);
}

.appportrait_InRecentGames_biTV-.gpfocuswithin div[class*="appportrait_LibraryItemIcons"]:only-child:before,
.appportrait_InCollection_3ANru.gpfocuswithin div[class*="appportrait_LibraryItemIcons"]:only-child:before,
.appportrait_InRecentGames_biTV-:hover:only-child::before,
.appportrait_InCollection_3ANru:hover:only-child::before,
.appportrait_InRecentGames_biTV-.gpfocuswithin .appportrait_UninstalledIcon_8YrRm,
.appportrait_InCollection_3ANru.gpfocuswithin .appportrait_UninstalledIcon_8YrRm,
.appportrait_InRecentGames_biTV-:hover .appportrait_UninstalledIcon_8YrRm,
.appportrait_InCollection_3ANru:hover .appportrait_UninstalledIcon_8YrRm {
  opacity: 1;
}