.infoicon_MoreInfoIcon_34I5H {
  color: var(--color-master-font-foreground);
  background-color: var(--color-master-midtone2);
}

.tooltip_TextToolTip_29b2a {
  background: var(--color-master-background-bright);
  color: var(--color-master-font-foreground-bright);
}

.tooltip_ToolTipCustom_3Dt__ {
  background: var(--color-master-background-bright);
  color: var(--color-master-font-foreground-bright);
}
.tooltip_ToolTipCustom_3Dt__ .tooltip_ToolTipTitle_3YNfm {
  color: var(--color-master-font-foreground-bright);
}
.tooltip_ToolTipCustom_3Dt__ .tooltip_ToolTipInsetContent_1nxOn {
  color: var(--color-master-font-foreground-bright);
  opacity: 0.7;
}