/* Active */

/* Toggles */

/* Sliders */
.gamepadslider_SliderTrack_Mq25N {
  background: #23262e;
  --left-track-color: #1a9fff;
}

.gamepadslider_SliderNotchTick_Fv1Ht {
  background-color: #23262e;
}

.gamepadslider_SliderNotchTick_Fv1Ht.gamepadslider_TickActive_1gnUV {
  background: var(--colored-toggles-desktop-main-color);
  animation: var(--colored-toggles-desktop-animation);
}


/* Buttons */
button.gamepaddialog_Button_1kn70.DialogButton, button.gamepaddialog_Button_1kn70.DialogButton.Primary, button.gamepaddialog_Button_1kn70.DialogButton:enabled, button.gamepaddialog_Button_1kn70.DialogButton:enabled.Primary, button.gamepaddialog_Button_1kn70.DialogButton:active, button.gamepaddialog_Button_1kn70.DialogButton:active.Primary, button.gamepaddialog_Button_1kn70.DialogButton:hover, button.gamepaddialog_Button_1kn70.DialogButton:hover.Primary, button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover, button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover.Primary {
  background: #23262e;
}
button.gamepaddialog_Button_1kn70.DialogButton.gpfocus, button.gamepaddialog_Button_1kn70.DialogButton:active, button.gamepaddialog_Button_1kn70.DialogButton:enabled.gpfocus, button.gamepaddialog_Button_1kn70.DialogButton:enabled:active, button.gamepaddialog_Button_1kn70.DialogButton:active.gpfocus, button.gamepaddialog_Button_1kn70.DialogButton:active:active, button.gamepaddialog_Button_1kn70.DialogButton:hover.gpfocus, button.gamepaddialog_Button_1kn70.DialogButton:hover:active, button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover.gpfocus, button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover:active {
  background: #fff;
  color: #23262e;
}


/* Dropdowns */



/* Context Menus */



/* Modals */
