.gamepadlibrary_GamepadLibrary_ZBBhe {
  background: radial-gradient(farthest-corner at 0px 0px, var(--gpSystemDarkGrey) 0%, var(--gpSystemDarkerGrey) 80%);
}

.appdetails_Glassy_3Fmxx.appdetails_ScrollContainer_2l416 {
  background-image: radial-gradient(100% 100% at 45% 35%, #2c323d 0%, #151616 100%);
}

.BasicUI .posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2 {
  background-color: #23262e;
}

.appactivityday_PartnerEventMediumImage_Container_1HZy7 {
  background: radial-gradient(100% 80% at 64% 95%, rgba(107, 115, 127, 0.3) 0%, rgba(62, 70, 80, 0.5) 20%, rgba(36, 40, 47, 0.5) 100%);
}

.BasicUI .appdetailssection_Highlight_38t1m {
  background: #23262e;
}

.appdetailsachievementssection_AchievementCarouselItem_mbFSn.appdetailsachievementssection_Detailed_3KGi6 {
  background-color: #3d4450;
}

.BasicUI button.DialogButton.appdetailsbutton_AppDetailsButton_3Cdin.appdetailsbutton_BottomRight_3nJyY:not(.gpfocus) {
  background-color: #3d4450;
}

.BasicUI .appdetailscommunityfeed_CommunityItem_3QS6O {
  background-color: #23262e;
}

.BasicUI .appdetailsprimarylinkssection_Anchor_DY4_w {
  background-color: #3d4450;
}

.appdetailsgameinfopanel_DeckVerifiedInfo_IIJei {
  background-color: #23262e;
}

.gamepadtabbedpage_Tab_3eEbS.gamepadtabbedpage_Selected_3Gp1b {
  background-color: #ACB2C947;
}