/* QAM General Styles */
.quickaccessmenu_QuickAccessMenu_V0cr- {
  background: #0e141b;
}

/* QAM Friends Styles */
.FriendsListContent .friendlistListContainer .friendGroup.onlineFriends.GamepadMode, .GamepadMode .FriendsListContent .friendlistListContainer .friendGroup > div {
  border-top: 1px solid rgba(76,180,255,.3);
}


/* Menu General Styles */
.mainmenu_Menu_23IDi {
  background: #0e141b;
}

@keyframes mainmenu_ItemFocusAnim-darkerGrey_2ERHp  {
  0% {
    background: #3d4450;
    color: #8b929a;
  }

  100% {
    background: #23262e;
    color: #fff;
  }
}