:root {
    --SDU-test-main-color: #1a9fff;
	--SDU-static-color: var(--SDU-test-main-color);
	--SDU-friends-text-color: black;
	--SDU-animation: none;
	--SDU-gpColor-Blue: var(--SDU-test-main-color) !important;
}

.gamepaddialog_ToggleRail_2JtC3::before {
	background: var(--SDU-test-main-color);
	animation: var(--SDU-animation);
}

div .gamepadslider_SliderNotchTick_Fv1Ht.gamepadslider_TickActive_1gnUV {
	background: var(--SDU-test-main-color);
	animation: var(--SDU-animation);
} 

.appdetailsfriendssection_FriendsPlayingNowBadge_38sNQ.appdetailsfriendssection_InFriendsTab_15Vpl {
	background: var(--SDU-test-main-color);
	color: var(--SDU-friends-text-color);
	animation: var(--SDU-animation);
}

div .mainmenu_Item_2w9Tp .mainmenu_ActiveDot_1uLVH {
	background: var(--SDU-test-main-color);
	animation: var(--SDU-animation);
}

.BasicUI .appactionbutton_Green_3cI5T .appactionbutton_ButtonChild_2AzIX.Focusable:focus {
	background: var(--SDU-test-main-color);
	animation: var(--SDU-animation);
}

.BasicUI .appactionbutton_Green_3cI5T .appactionbutton_ButtonChild_2AzIX.Focusable:focus > svg {
	color: var(--SDU-friends-text-color);
}

.appactionbutton_PlayButton_3ydig.gpfocus > .appactionbutton_ButtonText_33cnX {
	color: var(--SDU-friends-text-color);
}

.gamepadslider_SliderTrack_Mq25N::before {
    background: var(--SDU-test-main-color);
	animation: var(--SDU-animation);
}

.BasicUI .appactionbutton_ButtonChild_2AzIX.Focusable:focus {
	background: var(--SDU-test-main-color);
	animation: var(--SDU-animation);
}

.BasicUI .appactionbutton_ButtonChild_2AzIX.Focusable:focus > svg {
	color: var(--SDU-friends-text-color);
}

.BasicUI .appactionbutton_ButtonChild_2AzIX.Focusable:focus .appactionbutton_ButtonText_33cnX {
	color: var(--SDU-friends-text-color);
}

div .downloads_SectionItemWrapper_21P7c.gpfocus .downloads_SectionItem_1VNuY.downloads_Active_IbePL .downloads_Button_3oavR.DialogButton:enabled {
	background: var(--SDU-test-main-color);
	animation: var(--SDU-animation);
}

.appportrait_AppPortraitBanner_N8aJr {
	background: var(--SDU-test-main-color); 
	color: var(--SDU-friends-text-color);
	animation: var(--SDU-animation);
  }

.appportrait_UninstalledBar_kX-tI .appportrait_UninstalledProgressBar_mA39H {
	background: var(--SDU-test-main-color);
	animation: var(--SDU-animation);
}

.progressbar_Percent_2_0Jo {
	animation: var(--SDU-animation);
}

.header_HeaderDownloadContainer_2ssr3 .header_HeaderAppPortraitContainer_1PbL3 .header_HeaderDownloadProgressBarBackground_vo3Tt .header_HeaderDownloadProgressBar_AK_Ax {
	background: var(--SDU-test-main-color);
	animation: var(--SDU-animation);
}

div .BasicUI .appdetailsplaysection_DetailsProgressContainer_25YVD .appdetailsplaysection_DetailsProgressBar_1FnTq {
	background: var(--SDU-test-main-color);
	animation: var(--SDU-animation);
}

div .downloads_SectionItemStatus_1Sygg .downloads_Downloading_33BlY .downloads_State_2ns4w {
	color: var(--SDU-static-color);
}

.downloads_Button_3oavR {
	background: var(--SDU-test-main-color);
	animation: var(--SDU-animation);
}