:root {
  --color-master-dark-black:         #121212;
  --color-master-black:              #1C1B19;
  --color-master-bright-black:       #918175;
  --color-master-white:              #BAA67F;
  --color-master-bright-white:       #FCE8C3;
  --color-master-gray1:             #262626;
  --color-master-gray2:             #444444;
  --color-master-gray3:             #4E4E4E;
  --color-master-gray4:             #767676;
  --color-master-gray5:            #949494;
  --color-master-blue:               #2C78BF;
  --color-master-bright-green:       #98BC37;
  --color-master-bright-red:         #F75341;

  --color-master-black-filter:        brightness(0) saturate(100%) invert(7%) sepia(7%) saturate(673%) hue-rotate(2deg) brightness(95%) contrast(91%);
  --color-master-bright-white-filter: brightness(0) saturate(100%) invert(93%) sepia(5%) saturate(1353%) hue-rotate(352deg) brightness(93%) contrast(113%);

  /** These variables are used in some of the gradients */
  --color-master-black-rgb:          28, 27, 25;
  --color-master-black-rgb2:         207, 201, 193;
  --color-master-black-rgb3:         66, 57, 43;
  --color-master-black-rgb4:         47, 42, 36;
  --color-master-black-rgb5:         80, 71, 62;
  --color-master-black-rgb6:         127, 117, 107;
  --color-master-black-orange:       121, 99, 85;
  --color-master-black-orange2:      92, 80, 75;
  --color-master-black-orange3:      58, 51, 46;
  --color-master-white-rgb:          186, 166, 127;
  --color-master-bright-white-rgb:   252, 232, 195;
  --color-master-bright-white-rgb2:  221, 199, 157;

  --color-master-gp-grad-stop1: 104, 92, 83;
  --color-master-gp-grad-stop2: 184, 154, 125;
  --color-master-gp-grad-stop3: 204, 178, 153;

  /* Overriding color of colored toggles */
  --colored-toggles-desktop-main-color: var(--color-master-blue) !important;
  --colored-toggles-desktop-friends-text-color: var(--color-master-black) !important;
}