:root {
  --color-master-background-dark:    #121212;
  --color-master-background:         #1C1B19;
  --color-master-background-bright:  #918175;
  --color-master-foreground:         #BAA67F;
  --color-master-foreground-bright:  #FCE8C3;
  --color-master-midtone1:           #262626;
  --color-master-midtone2:           #444444;
  --color-master-midtone3:           #4E4E4E;
  --color-master-midtone4:           #767676;
  --color-master-midtone5:           #949494;
  --color-master-highlight:          #2C78BF;
  --color-master-highlight2:         #98BC37;
  --color-master-warning:            #F75341;

  /** These variables are used in some of the gradients */
  --color-master-background_rgb:          28, 27, 25;
  --color-master-background2_rgb:         207, 201, 193;
  --color-master-background3_rgb:         66, 57, 43;
  --color-master-background4_rgb:         47, 42, 36;
  --color-master-background5_rgb:         80, 71, 62;
  --color-master-background6_rgb:         127, 117, 107;
  --color-master-background-orange:       121, 99, 85;
  --color-master-background-orange2:      92, 80, 75;
  --color-master-background-orange3:      58, 51, 46;
  --color-master-foreground_rgb:          186, 166, 127;
  --color-master-foreground-bright_rgb:   252, 232, 195;
  --color-master-foreground-bright2_rgb:  221, 199, 157;

  --color-master-gp-grad-stop1_rgb: 104, 92, 83;
  --color-master-gp-grad-stop2_rgb: 184, 154, 125;
  --color-master-gp-grad-stop3_rgb: 204, 178, 153;

  /* Overriding color of colored toggles */
  --colored-toggles-desktop-main-color: var(--color-master-highlight) !important;
  --colored-toggles-desktop-friends-text-color: var(--color-master-background) !important;
}