/* ? Background */
.downloads_DownloadsPage_1bq4x {
  background: radial-gradient(farthest-corner at 0px 0px,
  var(--color-master-midtone2) 0%,
    var(--color-master-midtone1) 90%);
}

.downloadgraph_GraphAndStats_3KDkL {
  background-color: var(--color-master-background-dark);
}

.downloads_SectionItem_1VNuY.downloads_Active_IbePL {
  background-color: var(--color-master-background);
}

/* ? Text */
.downloadgraph_StatsPanel_3mdnp .downloadgraph_Status_3BdWq {
  color: var(--color-master-font-foreground-bright);
}
.downloadgraph_StatsPanel_3mdnp .downloadgraph_Figure_eXF8x {
  color: var(--color-master-font-foreground-bright);
}
.downloadgraph_StatsPanel_3mdnp .downloadgraph_Stat_5TdA4 {
  color: var(--color-master-font-foreground);
}
.downloadgraph_DownloadGraphLegend_hGZq4 .downloadgraph_LegendText_1iulC {
  color: var(--color-master-font-foreground);
}
/** Download settings button */
.downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8,
.downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8:enabled,
.downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8:active,
.downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8:hover,
.downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8:enabled:active:hover,
.downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8.DialogButton:enabled {
  background-color: var(--color-master-midtone3);
  color: var(--color-master-font-foreground-bright);
}

/* ? Up Next */

/* ? Scheduled */

/* ? Download list entries */