.appportrait_LibraryItemBox_WYgDg.appportrait_Portrait_1Pf6J.appportrait_InCollection_3ANru.appportrait_BasicMode_3vi6S.Panel.Focusable.gpfocus.gpfocuswithin:only-child:before,
.appportrait_LibraryItemBox_WYgDg.appportrait_Portrait_1Pf6J.appportrait_InRecentGames_biTV-.appportrait_BasicMode_3vi6S.Panel.Focusable.gpfocus.gpfocuswithin:only-child:before,
.appportrait_LibraryItemBox_WYgDg.appportrait_Landscape_3VOR2.appportrait_InRecentGames_biTV-.appportrait_FeaturedCapsule_xp7A-.appportrait_BasicMode_3vi6S.Panel.Focusable.gpfocus.gpfocuswithin:only-child:before {
  content: url("data:image/svg+xml; charset=utf8, %0A%20%20%20%20%3Csvg%20viewBox%3D%220%200%2036%2036%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22width%3A%2032px%3B%20height%3A%2032px%3B%22%3E%0A%20%20%20%20%20%20%3CforeignObject%20x%3D%225%22%20y%3D%225%22%20width%3D%2226%22%20height%3D%2226%22%3E%0A%20%20%20%20%20%20%20%20%3Cdiv%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxhtml%22%3E%0A%20%20%20%20%20%20%20%20%20%20%3Csvg%20style%3D%22width%3A%2026px%3B%20height%3A%2026px%3B%20color%3A%20%2359bf40%3B%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2036%2036%22%20fill%3D%22none%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M6%2033V3L32%2018L6%2033Z%22%20fill%3D%22currentColor%22%20%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3C%2Fsvg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fdiv%3E%0A%20%20%20%20%20%20%3C%2FforeignObject%3E%0A%20%20%20%20%3C%2Fsvg%3E%0A%20%20%20%20");
  position: absolute;
  z-index: 100;
  height: 24px;
  width: 24px;
  bottom: 2%;
  left: 5%;
  opacity: 1;
  background-color: #0008;
  border-radius: 4px;
  padding: 4px;
}

.appportrait_LibraryItemBox_WYgDg.appportrait_Landscape_3VOR2.appportrait_InRecentGames_biTV-.appportrait_FeaturedCapsule_xp7A-.appportrait_BasicMode_3vi6S.Panel.Focusable.gpfocus.gpfocuswithin:only-child:before {
  left: 1.5%;
}

.appportrait_HoversEnabled_54PuC .appportrait_LibraryItemBox_WYgDg:hover .appportrait_UninstalledIcon_8YrRm, .appportrait_LibraryItemBox_WYgDg.gpfocus .appportrait_UninstalledIcon_8YrRm {
  opacity: 1;
  background-color: #0008;
  border-radius: 4px;
  padding: 4px;
}